# DATABASE
SQLAlchemy>=2.0.0

# CRAWLER & SCRAPER
requests>=2.31.0
beautifulsoup4>=4.12.0

# --- GOOGLE & YOUTUBE API ---
google-api-python-client>=2.100.0

# --- AI SCORING ---
openai>=1.0.0

# DOTENV
python-dotenv>=1.0.0

# Google Gen AI SDK
google-genai>=1.0.0

# Streamlit
streamlit>=1.35.0